.container {
    padding: 24px;
    margin-top: 65px;
    min-height: 100vh;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.pagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 12px;
}

.title {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    text-align: center;
}

.emptyText {
    text-align: center;
}