.container {
    margin: auto;
}

.ring{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    animation: ring 2s linear infinite;
    margin: auto;
}

.spaced{
    padding: .75rem 0;
}

@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 2.5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 2.5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 2.5px 2px #0456c8;
    }
}